.button {
	-fx-border-insets: 23;
	-fx-background-insets: 23;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	-fx-border-color: gray;
	-fx-border-style: solid;
	-fx-border-width: 1;
	/*   -fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0); */
}

#clicker {
	-fx-padding: 5 5 5 5;
	-fx-background-color: #c3c4c4, linear-gradient(#d6d6d6 50%, white 100%),
		radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230, 230
		, 230, 0) 50%);
	-fx-background-radius: 30;
	-fx-background-insets: 0, 1, 1;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
	-fx-font-size: 14px;
}

#reading {
	-fx-text-fill: white;
	-fx-font: 60px "System";
}

#reading-pane {
	-fx-background-color: #073763ff;
}

#previous-readings {
	-fx-text-fill: white;
	-fx-font: 12px "System";
}

#units {
	-fx-text-fill: white;
	-fx-font: 18px "System";
}

#window-close {
	-fx-font-size: 1px;
	-fx-background-color: null;
	-fx-background-image: url("images/window-close.png");
	-fx-padding: 6 6 4 6;
}

#window-close:hover {
	-fx-background-image: url("images/window-close-over.png");
}
/*
#window-close:focused {
    -fx-effect: dropshadow( three-pass-box , -fx-focus-color , 5, 0.7 , 0 , 0 );
}
*/